body {
  font-size: 1.3em;
  padding: 12px;
}
h1 {
  font-size: 26px;
}
h2 {
  font-size: 0.9em;
}

.image-box {
  display: flex;
  width: 100%;
  flex-direction: column;
}

img {
  max-width: 100%;
}

figure {
  /* border: 1px solid green; */ 
  text-align: center;
  margin: 0;
  padding: 8px;
}

@media only screen and (min-width: 981px) {
  body {
    background-color: wheat;
  }

  .image-box {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  figure {
    max-width: 50%;
  }
}